header{
    background-color: crimson;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px 0;
    border-radius: 8px;
}

nav ul{
    list-style: none;
    margin: 10px 0 0;
    padding: 0px;
}

nav ul li{
    display: inline-block;
    margin: 0 15px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover{
    color: gray;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 8px;
}

main{
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.contenedor{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.card{
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px black;
}

.valores{
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px black;
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2{
    text-align: center;
    
}

h3{
    text-align: center;
    color: crimson;
}

body{
    background-image: url(img/fondo_body.jpg);
}

.historia{
    text-align: justify;
    margin: 20px 0;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
}

main{
    text-align: justify;
}

.imagen{
    text-align: center;
}

footer{
    background-color: crimson;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    margin-top: 20px;
    border-radius: 8px;
}

.contacto{
    display: inline-block;
    margin: 0 15px;
    list-style: none;
}